a {
  text-decoration: none;
  color: rgb(61, 61, 61);
}

ul {
  list-style: none;
}

/* �궡鍮꾧쾶�씠�뀡 硫붾돱 */
.nav-menu {
  display: flex;
  font-size: 1.1rem;
}

.nav-menu li {
  margin: 0px 35px;
}

.implyeement_apply,
.volunteer_management {
  margin: 5px 0px;
}

.implyeement_apply:hover,
.volunteer_management:hover,
.freeboard:hover,
.companyinfo:hover,
.applyinfo:hover,
.companyservice:hover,
.login:hover,
.join:hover {
  font-weight: bold;
  text-decoration: underline;
}

/* 硫붿씤 而⑦뀒�씠�꼫 媛꾧꺽 議곗젙 */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* �씤�듃濡� 寃��깋 */
.main_apply {
  text-align: center;
}

.intro {
  width: 80%;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

/* �씤�듃濡� 寃��깋 */
.intro input {
  width: 100%;
  height: 40px;
  border: 1px solid #c9c9c9;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 0.9rem;
}

.intro input::placeholder {
  font-size: 0.9rem;
}

.div_container {
  display: flex;
}

/* �씤湲곌� 由ъ뒪�듃(�옄�쑀 寃뚯떆�뙋) */
.board-container {
  width: 80%;
  margin: 0px 0px 80px 0px;
}

/* �씤湲곌� 由ъ뒪�듃(梨꾩슜�젙蹂�) */
.apply_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-bottom: 10px;
  margin-top: 20px;
}

.apply_list {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.apply_position {
  position: relative;
}

.post {
  position: absolute;
  right: 5%;
  top: 3%;
}

.company_logo {
  border: none;
}

.company_name {
  font-size: 0.8rem;
  color: rgb(124, 124, 124);
}

.company_title {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(73, 73, 73);
  padding: 5px 0px;
}

.company_score {
  font-size: 0.7rem;
  color: rgb(124, 124, 124);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company_apply {
  margin: 20px 40px;
}

/* 理쒖떊 由ъ뒪�듃 */
aside {
  margin: 40px;
}

.aside_container {
  margin-left: 80px;
  width: 25%;
  background-color: rgb(248, 248, 248);
}

.new_apply_list_title {
  font-size: 0.8rem;
  color: rgb(124, 124, 124);
  font-weight: bold;
  margin: 10px;
  text-align: left;
}

.new_apply_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0px;
}

.new_apply_list img {
  margin: 0px 7px;
}

.new_apply_company_name {
  font-size: 0.75rem;
  color: rgb(124, 124, 124);
}

.new_apply_title {
  font-size: 0.75rem;
  font-weight: bold;
  color: rgb(73, 73, 73);
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  width: 100%;
}

.pagination a {
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
  /* border: 1px solid #ddd; */
  margin: 0 4px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination a:hover,
.pagination a.active {
  font-weight: bold;
}

.implyeement_area {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  margin: 20px auto -20px;
}

.implyeement_write {
  text-align: center;
  display: block;
  width: 7%;
  line-height: 20px;
  padding: 3px;
  background-color: #4c7bc9;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  border-radius: 5px;
  margin-top: 20px;
}

